/* CSS VARIABLES */
:root {
  --primary-gradient: linear-gradient(
    to right,
    hsl(6, 100%, 80%),
    hsl(335, 100%, 65%)
  );
  --paleblue: hsl(243, 100%, 93%);
  --grayishblue: hsl(229, 7%, 55%);
  --darkblue: hsl(228, 56%, 26%);
  --verydarkblue: hsl(229, 57%, 11%);
}
/* End of CSS VARIABLES */
/* Animation */
@keyframes guageAnimation{
  /* from{
    width: 0%;
  }
  to{
    width: 80%;
  } */
  0%{
    width: 0;
  }
  60%{
    width: 80%;
  }
  85%{
    width: 85%;
  }
  100%{
    width: 80%
  }
}
@keyframes jumpIn{
  from{
    transform: translateY(-300px);
  }
  to{
    transform: translateY(0);
  }
}
/* End of Animation */
@keyframes scaleOut{
  from{
    transform: scale(0);
    opacity: 0;
  }
  to{
    transform: scale(1);
    opacity: 1;
  }
}
/* Reset Default Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* End of Default Styles Reset */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
/* Background Styles */
#backgroundimg {
  position: absolute;
  top: 50%;
  left: 0;
}
@media screen and (max-width: 800px) {
  #backgroundimg {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100vh;
  }
}
.main {
  width: 100%;
  height: 100vh;
  background-color: var(--verydarkblue);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* End of Background Stuffs */
/* content */

.wrapper {
  width: 70%;
  margin: 0 auto;
}
.row {
  justify-content: center;
}
.first-col {
  background: var(--darkblue);
  height: 170px;
  border-radius: 10px 70px 10px 10px;
  padding: 30px;
  margin-right: 20px;
  animation: jumpIn 1s ease forwards;
}
.second-col {
  height: 130px;
  align-self: flex-end;
  border-radius: 10px;
  opacity: 0;
  transform: scale(0);
  background: var(--darkblue);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: scaleOut 1s 0.2s ease-in-out forwards;
}
.first-col .icons {
  margin-top: 30px;
}
.icon {
  margin-right: 10px;
  background-color: var(--verydarkblue);
  padding: 10px;
  width: 40px;
  border: 1px solid transparent;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.icon:hover{
    background: var(--darkblue);
    border: 1px solid var(--darkblue);
}
.icon img {
  width: 100%;
}
.second-col-wrapper {
  width: 85%;
  height: 80%;
  position: relative;
}
.second-col-wrapper p {
  font-size: 100%;
}
/* Memory Guage */
.size {
  width: 100%;
  height: 15px;
  border: 2px solid var(--verydarkblue);
  background: var(--verydarkblue);
  padding: 0;
}
.value {
  width: 0%;
  animation: guageAnimation forwards 1s 1s ease-out;
  height: 100%;
  background: var(--primary-gradient);
  position: relative;
  padding: 5px;
}
.end {
  position: absolute;
  width: 10px;
  height: 100%;
  border-radius: 10rem;
  right: 1px;
  transform: scale(0.8);
  top: 0;
  background-color: white;
}
.bottom-text {
  display: flex;
  justify-content: space-between;
}
.bottom-text p {
  font-weight: 400;
}
.banner {
  position: absolute;
  top: -90%;
  padding: 4px 15px;
  background: white;
  color: rgb(70, 66, 66);
  border-radius: 10px;
  right: 0;
  display: flex;
  align-items: center;
  font-size: 14px;
}
.banner::after{
  content: '';
  position: absolute;
  border: 20px solid white;
  border-color: transparent white transparent transparent ;
  right: 0px;
  top: 10%;
  transform: translateY(70%);
}
@media screen and (max-width: 768px) {
  .banner {
    top: 110%;
    right: 50%;
    transform: translateX(50%);
  }
  .banner::after{
    border: none;
  }
}
.banner span.number {
  color: black;
  margin-right: 5px;
  font-size: 30px;
  font-weight: 800;
}
/* End of Content Styles */
.attribution {
  position: absolute;
  bottom: 10px;
  right: 50%;
  width: 100%;
  transform: translateX(50%);
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
